body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header, footer {
    background-color: #007bff;
    color: #ffffff;
    text-align: center;
    padding: 20px;
  }
  
  main {
    padding: 20px;
    display: flex;

  }
  
  section {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  select, button {
    margin-bottom: 10px;
  }
  
  button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  footer {
    bottom: 0;
    width: 100%;
      }
      .cube-loader {
        position: relative;
      /* u can choose any size */
        width: 75px;
        height: 75px;
        transform-style: preserve-3d;
        transform: rotateX(-30deg);
        animation: animate 4s linear infinite;
      }
      
      @keyframes animate {
        0% {
          transform: rotateX(-30deg) rotateY(0);
        }
      
        100% {
          transform: rotateX(-30deg) rotateY(360deg);
        }
      }
      
      .custom-loader{
        text-align: center;
        display:grid;
        place-items: center;
        margin: auto 45%;
      }
           
@media (min-width: 768px){
    footer {
        position:fixed;
        bottom: 0;
        }
}

@media (max-width: 767px){
    main {
        padding: 20px;
        flex-direction: column;
          }
}